* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    background-color:#F8F8F8;
}

.navbar-top {
    background-color: #F8F8F8;
    position: relative !important;
    grid-area: navbar;
}

.navbar-brand {
    font-family: 'Bowlby One SC', cursive;
    font-size: 20px;
    color: #FF00FF;
}

.nav-link:hover {
    color: #FF00FF;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    text-align: center;
    margin-top: 70px;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "navbar"
    "content"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 130px 800px 250px;
}

.content
.navbar-top
.footer {
    padding: 1em;
}

/* Home */
.hero {
    margin-top: 100px;
}

h1 {
    font-size: 80px;
    font-family: 'Bowlby One SC', cursive;
}

.hero-content {
    margin-top: 50px;
    font-family: 'Bowlby One SC', cursive;
}

.main-btn {
    border: none;
    background: linear-gradient(to right,
    rgba(249, 107, 142, 1),
    rgba(218, 103, 230, 1),
    rgba(130, 125, 253, 1));
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    padding-right: 15px;
    padding-left: 15px;
    width: 150px;
}

.main-btn:hover {
    border: rgba(218, 103, 230, 1) solid 2px;
    background:#F8F8F8;
    text-align: center;
    text-decoration: none;
    color: #696969;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-right: 13px;
    padding-left: 13px;
    width: 150px;
}

.secondary-btn {
    border: rgba(218, 103, 230, 1) solid 2px;
    background-color:#F8F8F8;
    text-align: center;
    color: #696969;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    margin-left: 10px;
    width: 150px;
}

.secondary-btn:hover {
    border: none;
    background: linear-gradient(to right,
    rgba(249, 107, 142, 1),
    rgba(218, 103, 230, 1),
    rgba(130, 125, 253, 1));
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    width: 150px;
}

/* Project */
.project-row {
    margin-bottom: 20px;
}

.img-wrap {
    display: inline;
    text-align: center;
    color: white;
}

.img-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right,
    rgba(249, 107, 142, 1),
    rgba(218, 103, 230, 1),
    rgba(130, 125, 253, 1));
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 0.9;
}

.img-text {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.img-button {
    border: #F8F8F8 solid 2px;
    background-color:#FF00FF;
    text-align: center;
    color: #F8F8F8;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
}

.img-button:hover {
    border: #F8F8F8 solid 2px;
    background-color: #F8F8F8;
    color: #FF00FF;
} 

/* Contact */

.contact-row {
    padding: 30px;
    margin-bottom: 20px;
    border: rgba(218, 103, 230, 1) solid 4px;
}

.icon-col {
    justify-content: left;
    max-width: 100px;
}

.text-col {
    max-width: 270px;
    margin-top: 24px;
    margin-left: 50px;
}

.icon:hover {
    background: linear-gradient(to right,
    rgba(249, 107, 142, 1),
    rgba(218, 103, 230, 1),
    rgba(130, 125, 253, 1));
}

.contact-text {
    padding: 20px;
    font-weight: bold;
}

.email {
     color: #FF00FF;
     font-weight: bold;
}



