/* COLORS
dark-salmon: #CA6D68
light-salmon: #F1C1BD
grey: #DFDADE
light-green: #AOB6A9
medium-green: #2F4B4C
dark-green: #1A2D2B */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    height: 100%; 
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, RGB(198, 171, 165) 50%, rgb(	26, 45, 43) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.container {
    display: flex;
    flex-direction: column;
}

/* NAVIGATION  */
.navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f8f8ff;
    width: 300px;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

.navbar {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 60px;
    grid-area: navbar;
}

.navbar-brand {
    margin: 0 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #DFDADE;
}

.nav-link {
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

.nav-link:hover {
    color: #CA6D68;
}

/* Nav Btn */
.nav-btn-container {
    display: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .nav-btn-container-toggle {
    cursor: pointer;
    margin-top: 20px;
    float: right;
    padding: 10px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 15px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

/* FOOTER */
.footer {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    text-align: center;
}

/* CONTENT */
.content {
    display: flex;
    flex-direction: column;
    height: 84vh;
}

.page-title {
    font-size: 100px;
    font-family: 'Vidaloka', serif;
    text-align: left;
}

/* Home */
.home-page {
    padding: 180px 150px;
}

.main-title {
    font-size: 130px;
    font-family: 'Vidaloka', serif;
    flex-wrap: wrap;
}

.main-desc {
    font-size: 30px;
    margin-top: -10px;
    font-family: 'Vidaloka', serif;
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 20px 0;
    width: 250px;
    background-color: #CA6D68;
    border: none;
    border-radius: 100px;
    margin-right: 20px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

/* Contact */
.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.contact-title-container {
    display: flex;
    justify-content: flex-start;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.icon {
    padding: 40px;
    transition: all .3s;
}

.icon-name {
    display: none;
}

.icon:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
  
.icon:active {
    transform: translateY(-1px);
}

/* ABOUT */
.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.about-title {
    font-size: 100px;
    font-family: 'Vidaloka', serif;
    text-align: left;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 30px;
    padding:  0 20px;
}

.skill-container {
    border: solid 1.5px black;
    padding: 15px 20px;
    margin: 10px 10px;
    font-weight: bold;
}

.about-content-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 800px;
    height: 400px;
    background-color: #DFDADE;
    border-radius: 10px;
    margin: 50px 0px;

    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.avatar-container {
    align-self: center;
    padding: 30px;
}

.avatar {
    border-radius: 100%;
    width: 300px;
    margin-bottom: 20px;
}

.about-text-container {
    padding: 30px;
}

.about-text {
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
}

.about-text:last-child {
    margin-bottom: 0;
}

/* PROJECTS */
.project-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 40px;
}

.img-wrap {
    display: inline;
    text-align: center;
    color: white;
    position: relative;
}

.img-description {
    width: 200px;
    height: 200px;
    margin: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#CA6D68;;
    color: #fff;
    visibility: hidden;
    opacity: 0;

  /* transition effect. not necessary */
    transition: all .2s;
}

.img-wrap:hover .img-description {
    visibility: visible;
    opacity: 0.95;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .8);
    cursor: pointer;
}

.img-wrap:active .img-description {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.img {
    width: 200px;
    height: 200px;
    margin: 20px;

    display: flex;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.img-desc {
    margin-top: 20px;
}

hr {
    border: 0.5px solid white;
    width: 100px;
}

@media (max-width: 1000px) {
    .navbar {
        display: none;
      }
      .navbar-brand {
        display: none;
      }
      .nav-link {
        background-color: #f8f8ff;
        color: black;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
        margin-left: 25px;
        font-size: 20px;
        padding: 18px;
        width: 250px;
    
        transition: transform .2s;
      }
      .nav-link:hover {
        color: #CA6D68;
        transform: translateY(-3px);
      }
    .nav-link:active{
        transform: translateY(-1px);
      }
    .nav-btn-container {
        display: inline-block;
    }
    .footer {
        display: none;
    }
    .home-page {
        padding: 80px 80px;
    }
    .about-title {
        margin-left: 20px;
    }
    .contact-page {
        margin-top: 10px;
    }
    .about-page {
        margin-top: 10px;
    }
    .icons-container {
        flex-direction: column;
        margin-top: 10px;
    }
    .icon {
        padding: 20px;
    }
    .about-container {
        flex-direction: column;
    }
    .skills-container {
        margin-right: 30px;
        padding:  0 10px;
    }
    .about-content-container {
        justify-content: center;
        align-items: center;
        height: 480px;
        width: 700px;
        margin-right: 20px;
        margin-left: 10px;
    }

}

@media (max-width: 500px) {
    .page-title {
        font-size: 90px;
        margin-left: 10px;
    }
    .about-content-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 800px;
        width: 350px;
        margin-right: 15px;
    }
    .skills-container {
        margin-right: 20px;
    }
    .about-text-container {
        padding: 0 20px;
    }
    .project-page {
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    .home-page {
        padding: 40px 0px;
        margin-left: 20px;
    }
    .main-title {
        font-size: 100px;
    }
    .main-desc {
        font-size: 20px;
        margin-top: 0;
    }
    .btn-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn {
        width: 200px;
        margin-top: 10px;
    }
    .page-title {
        font-size: 70px;
        justify-self: center;
        margin:  0 10px;
    }
    .projects-container {
        width: 200px;
        margin-top: 30px;
        justify-self: center;
    }
    .about-container {
        width: 300px;
    }
    .about-title {
        font-size: 70px;
    }
    .about-content-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 780px;
        width: 300px;
        margin-right: 15px;
    }
    .skills-container {
        margin-right: 20px;
    }
    .about-text-container {
        padding: 0 20px;
    }
    .avatar-container {
        padding: 20px;
    }
    .avatar {
        width: 250px;
    }
}





